<div class="app-container">
    <div class="data-container">
        <div class="data">
            <app-graph-matrix></app-graph-matrix>
        </div>
        <div class="vectors-grid">
            <label class="vector1">Alpha: {{alpha}}</label>
            <label class="vector2">Beta: {{beta}}</label>
            <label class="vector3">Si: {{S}}</label>
        </div>
    </div>
    <div class="canvas">
        <canvas #canvasElem id="{{canvasId}}" style=" width:100%;">
        </canvas>
    </div>
</div>